hr.my-2 {
    padding-bottom: 20px;
}

.footer {
    margin-top: 10px;
}

.footer a {
    color: #337ab7;
}

.card {
    margin-bottom: 20px;
}

.card-body .label {
    background-color: #337ab7;
    color: #fff;
    padding: 5px;
}

.card-body .well {
    margin-bottom: 20px;
}